.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    color: darkorange;
  }
  .text_p {
    margin-bottom: 20px;
   }
  .socialIcons {
    display: flex;
    justify-content: center;
  }
  
  .icon {
    width: 30px;
    margin-left: 10px;
  }
  