/* Images.module.css */

.imagesContainer {
  width: 95%;
  margin: auto;
    /* margin: 10px; */
    padding: 50px;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 991px) {
    .imagesContainer {
      overflow: hidden;
      width: 95%;
      padding: 10px;
    }
  }
  
  /* Define animation effect for mobile view */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply animation effect when the image becomes visible */
  .visible {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  