/* Images.module.css */
@keyframes scaleIn {
  0%{
    transform: scale(0.7);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.imagesContainer {
  width: 95%;
  margin: auto;
  padding: 50px;
  scroll-behavior: smooth;
}
.visible_card {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 1px 1px darkgray;
  animation: scaleIn 2s ease-in 0s;
}
.invisible_card {
 display: none;
}


@media (max-width: 991px) {
  .imagesContainer {
    overflow: hidden;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
  }
}

/* Define animation effect for mobile view */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation effect when the image becomes visible */
.visible {
  animation: fadeIn 0.5s ease-in-out forwards;
}
