.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 18px;
  scroll-behavior: smooth;
  position: fixed;
  background-color: transparent;
  top: 0; /* Ensures it stays at the top */
  left: 0; /* Stretches across the entire width */
  width: 100%; /* Ensures it fills the horizontal space */
  z-index: 10; /* Ensures the header stays on top of other elements */
}
.image_div {
  display: flex;
  justify-content: space-between;
}
.cart {
  color: #fff;
}
.balance {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: sans-serif;
}
.mobile_header_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  align-items: center;
  position: fixed;
  top: -4%; /* Ensures it stays at the top */
  left: 0; /* Stretches across the entire width */
  width: 100%; /* Ensures it fills the horizontal space */
  z-index: 10; /* Ensures the header stays on top of other elements */
  background-color: black;
}
.drawer svg {
  fill:#fff;
  position: absolute;
  right: 2%;
}
.cartDiv {
  display: flex;
  z-index: 1000;
  position: relative;
  right: -50%;
  top: 3%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}
