.stats_wrapper{
    display: flex;
     padding: 0px 60px;
     justify-content: space-between;
     transform: translateY(-120px);
     z-index: 100;
}
.stats_container{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    width: 50%;
}
.text_div{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: #9A9CBB;
}